# Lecture 3 - Pandas - Pivot table

## Assignment 1

#### drinks.csv là tập tin cung cấp dữ liệu về tình hình tiêu thụ rượu bia ở các quốc gia theo từng châu lục

country: tên quốc gia tiêu thụ<br/>
beer_servings: số lượng bia tiêu thụ<br/>
spirit_servings: số lượng rượu mạnh (>= 40<sup>0</sup>)<br/>
wine_servings: số lượng rượu vang<br/>
total_litres_of_pure_alcohol: tổng số lít rượu nguyên chất<br/>
continent: châu lục

#### Thực hiện các yêu cầu sau, và đối chiếu với kết quả cho trước:

In [18]:
import pandas as pd

In [27]:


# Câu 1: Đọc dữ liệu từ tập tin drinks.csv với index_col là cột đầu tiên của dữ liệu, và lưu vào biến drink.
drink = pd.read_csv(r'D:\TH4\drinks.csv', index_col=0)
print(drink)

# Cho biết kiểu dữ liệu (type) của drink
print(type(drink))

# Cho biết ra kích thước (shape) của drink
print(drink.shape)

# Hiển thị tên các cột (columns) của drink
print(drink.columns)

# Xem 5 dòng dữ liệu đầu tiên (head) của drink
print(drink.head())

                  country  beer_servings  spirit_servings  wine_servings  \
0             Afghanistan              0                0              0
1                 Albania             89              132             54
2                 Algeria             25                0             14
3                 Andorra            245              138            312
4                  Angola            217               57             45
5       Antigua & Barbuda            102              128             45
6               Argentina            193               25            221
7                 Armenia             21              179             11
8               Australia            261               72            212
9                 Austria            279               75            191
10             Azerbaijan             21               46              5
11                Bahamas            122              176             51
12                Bahrain             42               63              7
13             Bangladesh              0                0              0
14               Barbados            143              173             36
15                Belarus            142              373             42
16                Belgium            295               84            212
17                 Belize            263              114              8
18                  Benin             34                4             13
19                 Bhutan             23                0              0
20                Bolivia            167               41              8
21     Bosnia-Herzegovina             76              173              8
22               Botswana            173               35             35
23                 Brazil            245              145             16
24                 Brunei             31                2              1
25               Bulgaria            231              252             94
26           Burkina Faso             25                7              7
27                Burundi             88                0              0
28          Cote d'Ivoire             37                1              7
29             Cabo Verde            144               56             16
..                    ...            ...              ...            ...
163              Suriname            128              178              7
164             Swaziland             90                2              2
165                Sweden            152               60            186
166           Switzerland            185              100            280
167                 Syria              5               35             16
168            Tajikistan              2               15              0
169              Thailand             99              258              1
170             Macedonia            106               27             86
171           Timor-Leste              1                1              4
172                  Togo             36                2             19
173                 Tonga             36               21              5
174     Trinidad & Tobago            197              156              7
175               Tunisia             51                3             20
176                Turkey             51               22              7
177          Turkmenistan             19               71             32
178                Tuvalu              6               41              9
179                Uganda             45                9              0
180               Ukraine            206              237             45
181  United Arab Emirates             16              135              5
182        United Kingdom            219              126            195
183              Tanzania             36                6              1
184                   USA            249              158             84
185               Uruguay            115               35            220
186            Uzbekistan             25              101              8
187               Vanuatu             21               18             11
188             Venezuela            333              100              3
189               Vietnam            111                2              1
190                 Yemen              6                0              0
191                Zambia             32               19              4
192              Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
5                             4.9       NaN
6                             8.3        SA
7                             3.8        EU
8                            10.4        OC
9                             9.7        EU
10                            1.3        EU
11                            6.3       NaN
12                            2.0        AS
13                            0.0        AS
14                            6.3       NaN
15                           14.4        EU
16                           10.5        EU
17                            6.8       NaN
18                            1.1        AF
19                            0.4        AS
20                            3.8        SA
21                            4.6        EU
22                            5.4        AF
23                            7.2        SA
24                            0.6        AS
25                           10.3        EU
26                            4.3        AF
27                            6.3        AF
28                            4.0        AF
29                            4.0        AF
..                            ...       ...
163                           5.6        SA
164                           4.7        AF
165                           7.2        EU
166                          10.2        EU
167                           1.0        AS
168                           0.3        AS
169                           6.4        AS
170                           3.9        EU
171                           0.1        AS
172                           1.3        AF
173                           1.1        OC
174                           6.4       NaN
175                           1.3        AF
176                           1.4        AS
177                           2.2        AS
178                           1.0        OC
179                           8.3        AF
180                           8.9        EU
181                           2.8        AS
182                          10.4        EU
183                           5.7        AF
184                           8.7       NaN
185                           6.6        SA
186                           2.4        AS
187                           0.9        OC
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]
<class 'pandas.core.frame.DataFrame'>
(193, 6)
Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')
       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0        AS
1                           4.9        EU
2                           0.7        AF
3                          12.4        EU
4                           5.9        AF

In [28]:
# Câu 2: Xác định số lượng giao dịch theo từng châu lục (continent) bằng Groupby
drink.groupby('continent').size()

continent
AF    53
AS    44
EU    45
OC    16
SA    12
dtype: int64

In [30]:
# Câu 3:
# - Xác định bao nhiêu thuộc tính có giá trị NULL và số lượng giá trị NULL tương ứng với từng thuộc tính
gtr_null = drink.isnull().sum()
print(gtr_null)

# - Nếu có giá trị NULL liệt kê chi tiết từng giao dịch của mỗi thuộc tính
for column in drink.columns:
    null_indices = drink[drink[column].isnull()].index
    if len(null_indices) > 0:
        print(f"\nThuộc tính '{column}':")
        for index in null_indices:
            print(f"- Giao dịch tại {index}: {drink.loc[index]}")

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

Thuộc tính 'continent':
- Giao dịch tại 5: country                         Antigua & Barbuda
beer_servings                                 102
spirit_servings                               128
wine_servings                                  45
total_litres_of_pure_alcohol                  4.9
continent                                     NaN
Name: 5, dtype: object
- Giao dịch tại 11: country                         Bahamas
beer_servings                       122
spirit_servings                     176
wine_servings                        51
total_litres_of_pure_alcohol        6.3
continent                           NaN
Name: 11, dtype: object
- Giao dịch tại 14: country                         Barbados
beer_servings                        143
spirit_servings                      173
wine_servings                         36
total_litres_of_pure_alcohol         6.3
continent                            NaN
Name: 14, dtype: object
- Giao dịch tại 17: country                         Belize
beer_servings                      263
spirit_servings                    114
wine_servings                        8
total_litres_of_pure_alcohol       6.8
continent                          NaN
Name: 17, dtype: object
- Giao dịch tại 32: country                         Canada
beer_servings                      240
spirit_servings                    122
wine_servings                      100
total_litres_of_pure_alcohol       8.2
continent                          NaN
Name: 32, dtype: object
- Giao dịch tại 41: country                         Costa Rica
beer_servings                          149
spirit_servings                         87
wine_servings                           11
total_litres_of_pure_alcohol           4.4
continent                              NaN
Name: 41, dtype: object
- Giao dịch tại 43: country                         Cuba
beer_servings                     93
spirit_servings                  137
wine_servings                      5
total_litres_of_pure_alcohol     4.2
continent                        NaN
Name: 43, dtype: object
- Giao dịch tại 50: country                         Dominica
beer_servings                         52
spirit_servings                      286
wine_servings                         26
total_litres_of_pure_alcohol         6.6
continent                            NaN
Name: 50, dtype: object
- Giao dịch tại 51: country                         Dominican Republic
beer_servings                                  193
spirit_servings                                147
wine_servings                                    9
total_litres_of_pure_alcohol                   6.2
continent                                      NaN
Name: 51, dtype: object
- Giao dịch tại 54: country                         El Salvador
beer_servings                            52
spirit_servings                          69
wine_servings                             2
total_litres_of_pure_alcohol            2.2
continent                               NaN
Name: 54, dtype: object
- Giao dịch tại 68: country                         Grenada
beer_servings                       199
spirit_servings                     438
wine_servings                        28
total_litres_of_pure_alcohol       11.9
continent                           NaN
Name: 68, dtype: object
- Giao dịch tại 69: country                         Guatemala
beer_servings                          53
spirit_servings                        69
wine_servings                           2
total_litres_of_pure_alcohol          2.2
continent                             NaN
Name: 69, dtype: object
- Giao dịch tại 73: country                         Haiti
beer_servings                       1
spirit_servings                   326
wine_servings                       1
total_litres_of_pure_alcohol      5.9
continent                         NaN
Name: 73, dtype: object
- Giao dịch tại 74: country                         Honduras
beer_servings                         69
spirit_servings                       98
wine_servings                          2
total_litres_of_pure_alcohol           3
continent                            NaN
Name: 74, dtype: object
- Giao dịch tại 84: country                         Jamaica
beer_servings                        82
spirit_servings                      97
wine_servings                         9
total_litres_of_pure_alcohol        3.4
continent                           NaN
Name: 84, dtype: object
- Giao dịch tại 109: country                         Mexico
beer_servings                      238
spirit_servings                     68
wine_servings                        5
total_litres_of_pure_alcohol       5.5
continent                          NaN
Name: 109, dtype: object
- Giao dịch tại 122: country                         Nicaragua
beer_servings                          78
spirit_servings                       118
wine_servings                           1
total_litres_of_pure_alcohol          3.5
continent                             NaN
Name: 122, dtype: object
- Giao dịch tại 130: country                         Panama
beer_servings                      285
spirit_servings                    104
wine_servings                       18
total_litres_of_pure_alcohol       7.2
continent                          NaN
Name: 130, dtype: object
- Giao dịch tại 143: country                         St. Kitts & Nevis
beer_servings                                 194
spirit_servings                               205
wine_servings                                  32
total_litres_of_pure_alcohol                  7.7
continent                                     NaN
Name: 143, dtype: object
- Giao dịch tại 144: country                         St. Lucia
beer_servings                         171
spirit_servings                       315
wine_servings                          71
total_litres_of_pure_alcohol         10.1
continent                             NaN
Name: 144, dtype: object
- Giao dịch tại 145: country                         St. Vincent & the Grenadines
beer_servings                                            120
spirit_servings                                          221
wine_servings                                             11
total_litres_of_pure_alcohol                             6.3
continent                                                NaN
Name: 145, dtype: object
- Giao dịch tại 174: country                         Trinidad & Tobago
beer_servings                                 197
spirit_servings                               156
wine_servings                                   7
total_litres_of_pure_alcohol                  6.4
continent                                     NaN
Name: 174, dtype: object
- Giao dịch tại 184: country                         USA
beer_servings                   249
spirit_servings                 158
wine_servings                    84
total_litres_of_pure_alcohol    8.7
continent                       NaN
Name: 184, dtype: object

In [31]:
# Câu 4: Cho biết số lượng bia tiêu thụ trung bình ở mỗi châu lục
tb_bia_tieuthu = drink.groupby('continent')['beer_servings'].mean()
print(tb_bia_tieuthu)

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

In [32]:
# Câu 5: Lập danh sách số lượng bia tiêu thụ giảm dần theo châu lục
bia_giam = drink.groupby('continent')['beer_servings'].mean().sort_values(ascending=False)
print(bia_giam)

continent
EU    193.777778
SA    175.083333
OC     89.687500
AF     61.471698
AS     37.045455
Name: beer_servings, dtype: float64

In [33]:
# Câu 6: Cho biết thông tin thống kê tổng quát về số lượng rượu vang được tiêu thụ ở mỗi châu lục 
ruou_vang = drink.groupby('continent')['wine_servings'].describe()
print(ruou_vang)

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [34]:
# Câu 7: Cho biết thông tin thống kê tổng quát về số lượng bia và rượu mạnh. Chú ý bố trí trong cùng một bảng dữ liệu.
bia_ruoumanh = drink[['beer_servings', 'spirit_servings']].describe()
print(bia_ruoumanh)

       beer_servings  spirit_servings
count     193.000000       193.000000
mean      106.160622        80.994819
std       101.143103        88.284312
min         0.000000         0.000000
25%        20.000000         4.000000
50%        76.000000        56.000000
75%       188.000000       128.000000
max       376.000000       438.000000

In [35]:
# Câu 8: Cho biết giá trị trung vị (median) của các loại bia và rượu tiêu thụ ở mỗi châu lục
giatritrungvi = drink.groupby('continent')[['beer_servings', 'spirit_servings']].median()
print(giatritrungvi)

           beer_servings  spirit_servings
continent
AF                  32.0              3.0
AS                  17.5             16.0
EU                 219.0            122.0
OC                  52.5             37.0
SA                 162.5            108.5

In [36]:
# Câu 9: Cho biết giá trị trung bình,trung vị,lớn nhất về số lượng bia tiêu thụ ở mỗi châu lục
beer = drink.groupby('continent')['beer_servings'].agg(['mean', 'median', 'max'])
print(beer)

                 mean  median  max
continent
AF          61.471698    32.0  376
AS          37.045455    17.5  247
EU         193.777778   219.0  361
OC          89.687500    52.5  306
SA         175.083333   162.5  333

In [37]:
# Câu 10: Sắp xếp dữ liệu tăng dần theo số lượng bia tiêu thụ lớn hơn 300
tangdan = drink[drink['beer_servings'] > 300].sort_values(by='beer_servings', ascending=True)
print(tangdan)

            country  beer_servings  spirit_servings  wine_servings  \
129           Palau            306               63             23
81          Ireland            313              118            165
188       Venezuela            333              100              3
98        Lithuania            343              244             56
135          Poland            343              215             56
65          Germany            346              117            175
62            Gabon            347               98             59
45   Czech Republic            361              170            134
117         Namibia            376                3              1

     total_litres_of_pure_alcohol continent
129                           6.9        OC
81                           11.4        EU
188                           7.7        SA
98                           12.9        EU
135                          10.9        EU
65                           11.3        EU
62                            8.9        AF
45                           11.8        EU
117                           6.8        AF

In [38]:
# Câu 11: Liệt kê danh sách quốc gia theo châu lục
country = drink.groupby('continent')['country'].apply(list)
print(country)

continent
AF    [Algeria, Angola, Benin, Botswana, Burkina Fas...
AS    [Afghanistan, Bahrain, Bangladesh, Bhutan, Bru...
EU    [Albania, Andorra, Armenia, Austria, Azerbaija...
OC    [Australia, Cook Islands, Fiji, Kiribati, Mars...
SA    [Argentina, Bolivia, Brazil, Chile, Colombia, ...
Name: country, dtype: object

In [39]:
# Câu 12: Cho biết 5 quốc gia có lượng tiêu thụ bia lớn nhất
top5 = drink.nlargest(5, 'beer_servings')
print(top5)

            country  beer_servings  spirit_servings  wine_servings  \
117         Namibia            376                3              1
45   Czech Republic            361              170            134
62            Gabon            347               98             59
65          Germany            346              117            175
98        Lithuania            343              244             56

     total_litres_of_pure_alcohol continent
117                           6.8        AF
45                           11.8        EU
62                            8.9        AF
65                           11.3        EU
98                           12.9        EU

## Assignment 2- Pivot Table

####  - restaurant.csv là tập tin cung cấp dữ liệu về tình hình giao dịch tại một nhà hàng

In [45]:
restaurant = pd.read_csv(r'D:\TH4\restaurant.csv', index_col=0)
print(restaurant)
# Câu 1: Tính trung bình theo total bill của nam và nữ trong các ngày trong tuần
# Đặt cột 'total_bill' thành một cột dữ liệu
restaurant.reset_index(inplace=True)
nam_nu = restaurant.groupby(['day', 'sex'])['total_bill'].mean()
print(nam_nu)
# Câu 2: Tính tổng tiền tip và total bill của nam và nữ trong các ngày trong tuần
tongtien = restaurant.groupby(['day', 'sex'])[['tip', 'total_bill']].sum()
print(tongtien)
# Câu 3: Xây dựng bảng tổng hợp thống kê liên quan tính tiền tip và total bill cho ngày (day) và giới tính (sex), biết rằng tiền
# tip thì tính theo giá trị trung bình còn total bill thì tính tổng.
thongke = restaurant.groupby(['day', 'sex']).agg({'tip':'mean', 'total_bill':'sum'})
thongke = ['average_tip', 'total_bill_sum']
print(thongke)
# Câu 4: Thêm một cột xếp loại tiền tip ở dataframe, và cột này được nhận 'high tip' nếu tiền tip của họ lớn hơn 3 và
# ngược lại thì nhận 'low tip'.
def tip_category(tip_amount):
    if tip_amount > 3:
        return 'high tip'
    else:
        return 'low tip'
    
restaurant['tip_category'] = restaurant['tip'].apply(tip_category)
print(restaurant)
# Câu 5: Thêm một cột xếp loại khách hàng và chỉ xét cho nữ, giá trị cột này được tính như sau: nếu total bill
# nhỏ hơn 20 thì nhận 'poor girl' còn ngược lại thì nhận 'rich girl'
def customer_category(row):
    if row['sex'] == 'Female':
        if row['total_bill'] < 20:
            return 'poor girl'
        else:
            return 'rich girl'
    else:
        return None
restaurant['customer_category'] = restaurant.apply(customer_category, axis=1)
print(restaurant)

# Câu 6: Xác định số lượng giao dịch vào thứ 7
gd_t7 = restaurant[restaurant['day'] == 'Sat'].shape[0]
print(gd_t7)

             tip     sex smoker   day    time  size
total_bill
16.99       1.01  Female     No   Sun  Dinner     2
10.34       1.66    Male     No   Sun  Dinner     3
21.01       3.50    Male     No   Sun  Dinner     3
23.68       3.31    Male     No   Sun  Dinner     2
24.59       3.61  Female     No   Sun  Dinner     4
25.29       4.71    Male     No   Sun  Dinner     4
8.77        2.00    Male     No   Sun  Dinner     2
26.88       3.12    Male     No   Sun  Dinner     4
15.04       1.96    Male     No   Sun  Dinner     2
14.78       3.23    Male     No   Sun  Dinner     2
10.27       1.71    Male     No   Sun  Dinner     2
35.26       5.00  Female     No   Sun  Dinner     4
15.42       1.57    Male     No   Sun  Dinner     2
18.43       3.00    Male     No   Sun  Dinner     4
14.83       3.02  Female     No   Sun  Dinner     2
21.58       3.92    Male     No   Sun  Dinner     2
10.33       1.67  Female     No   Sun  Dinner     3
16.29       3.71    Male     No   Sun  Dinner     3
16.97       3.50  Female     No   Sun  Dinner     3
20.65       3.35    Male     No   Sat  Dinner     3
17.92       4.08    Male     No   Sat  Dinner     2
20.29       2.75  Female     No   Sat  Dinner     2
15.77       2.23  Female     No   Sat  Dinner     2
39.42       7.58    Male     No   Sat  Dinner     4
19.82       3.18    Male     No   Sat  Dinner     2
17.81       2.34    Male     No   Sat  Dinner     4
13.37       2.00    Male     No   Sat  Dinner     2
12.69       2.00    Male     No   Sat  Dinner     2
21.70       4.30    Male     No   Sat  Dinner     2
19.65       3.00  Female     No   Sat  Dinner     2
...          ...     ...    ...   ...     ...   ...
28.17       6.50  Female    Yes   Sat  Dinner     3
12.90       1.10  Female    Yes   Sat  Dinner     2
28.15       3.00    Male    Yes   Sat  Dinner     5
11.59       1.50    Male    Yes   Sat  Dinner     2
7.74        1.44    Male    Yes   Sat  Dinner     2
30.14       3.09  Female    Yes   Sat  Dinner     4
12.16       2.20    Male    Yes   Fri   Lunch     2
13.42       3.48  Female    Yes   Fri   Lunch     2
8.58        1.92    Male    Yes   Fri   Lunch     1
15.98       3.00  Female     No   Fri   Lunch     3
13.42       1.58    Male    Yes   Fri   Lunch     2
16.27       2.50  Female    Yes   Fri   Lunch     2
10.09       2.00  Female    Yes   Fri   Lunch     2
20.45       3.00    Male     No   Sat  Dinner     4
13.28       2.72    Male     No   Sat  Dinner     2
22.12       2.88  Female    Yes   Sat  Dinner     2
24.01       2.00    Male    Yes   Sat  Dinner     4
15.69       3.00    Male    Yes   Sat  Dinner     3
11.61       3.39    Male     No   Sat  Dinner     2
10.77       1.47    Male     No   Sat  Dinner     2
15.53       3.00    Male    Yes   Sat  Dinner     2
10.07       1.25    Male     No   Sat  Dinner     2
12.60       1.00    Male    Yes   Sat  Dinner     2
32.83       1.17    Male    Yes   Sat  Dinner     2
35.83       4.67  Female     No   Sat  Dinner     3
29.03       5.92    Male     No   Sat  Dinner     3
27.18       2.00  Female    Yes   Sat  Dinner     2
22.67       2.00    Male    Yes   Sat  Dinner     2
17.82       1.75    Male     No   Sat  Dinner     2
18.78       3.00  Female     No  Thur  Dinner     2

[244 rows x 6 columns]
day   sex
Fri   Female    14.145556
      Male      19.857000
Sat   Female    19.680357
      Male      20.802542
Sun   Female    19.872222
      Male      21.887241
Thur  Female    16.715312
      Male      18.714667
Name: total_bill, dtype: float64
                tip  total_bill
day  sex
Fri  Female   25.03      127.31
     Male     26.93      198.57
Sat  Female   78.45      551.05
     Male    181.95     1227.35
Sun  Female   60.61      357.70
     Male    186.78     1269.46
Thur Female   82.42      534.89
     Male     89.41      561.44
['average_tip', 'total_bill_sum']
     total_bill   tip     sex smoker   day    time  size tip_category
0         16.99  1.01  Female     No   Sun  Dinner     2      low tip
1         10.34  1.66    Male     No   Sun  Dinner     3      low tip
2         21.01  3.50    Male     No   Sun  Dinner     3     high tip
3         23.68  3.31    Male     No   Sun  Dinner     2     high tip
4         24.59  3.61  Female     No   Sun  Dinner     4     high tip
5         25.29  4.71    Male     No   Sun  Dinner     4     high tip
6          8.77  2.00    Male     No   Sun  Dinner     2      low tip
7         26.88  3.12    Male     No   Sun  Dinner     4     high tip
8         15.04  1.96    Male     No   Sun  Dinner     2      low tip
9         14.78  3.23    Male     No   Sun  Dinner     2     high tip
10        10.27  1.71    Male     No   Sun  Dinner     2      low tip
11        35.26  5.00  Female     No   Sun  Dinner     4     high tip
12        15.42  1.57    Male     No   Sun  Dinner     2      low tip
13        18.43  3.00    Male     No   Sun  Dinner     4      low tip
14        14.83  3.02  Female     No   Sun  Dinner     2     high tip
15        21.58  3.92    Male     No   Sun  Dinner     2     high tip
16        10.33  1.67  Female     No   Sun  Dinner     3      low tip
17        16.29  3.71    Male     No   Sun  Dinner     3     high tip
18        16.97  3.50  Female     No   Sun  Dinner     3     high tip
19        20.65  3.35    Male     No   Sat  Dinner     3     high tip
20        17.92  4.08    Male     No   Sat  Dinner     2     high tip
21        20.29  2.75  Female     No   Sat  Dinner     2      low tip
22        15.77  2.23  Female     No   Sat  Dinner     2      low tip
23        39.42  7.58    Male     No   Sat  Dinner     4     high tip
24        19.82  3.18    Male     No   Sat  Dinner     2     high tip
25        17.81  2.34    Male     No   Sat  Dinner     4      low tip
26        13.37  2.00    Male     No   Sat  Dinner     2      low tip
27        12.69  2.00    Male     No   Sat  Dinner     2      low tip
28        21.70  4.30    Male     No   Sat  Dinner     2     high tip
29        19.65  3.00  Female     No   Sat  Dinner     2      low tip
..          ...   ...     ...    ...   ...     ...   ...          ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3     high tip
215       12.90  1.10  Female    Yes   Sat  Dinner     2      low tip
216       28.15  3.00    Male    Yes   Sat  Dinner     5      low tip
217       11.59  1.50    Male    Yes   Sat  Dinner     2      low tip
218        7.74  1.44    Male    Yes   Sat  Dinner     2      low tip
219       30.14  3.09  Female    Yes   Sat  Dinner     4     high tip
220       12.16  2.20    Male    Yes   Fri   Lunch     2      low tip
221       13.42  3.48  Female    Yes   Fri   Lunch     2     high tip
222        8.58  1.92    Male    Yes   Fri   Lunch     1      low tip
223       15.98  3.00  Female     No   Fri   Lunch     3      low tip
224       13.42  1.58    Male    Yes   Fri   Lunch     2      low tip
225       16.27  2.50  Female    Yes   Fri   Lunch     2      low tip
226       10.09  2.00  Female    Yes   Fri   Lunch     2      low tip
227       20.45  3.00    Male     No   Sat  Dinner     4      low tip
228       13.28  2.72    Male     No   Sat  Dinner     2      low tip
229       22.12  2.88  Female    Yes   Sat  Dinner     2      low tip
230       24.01  2.00    Male    Yes   Sat  Dinner     4      low tip
231       15.69  3.00    Male    Yes   Sat  Dinner     3      low tip
232       11.61  3.39    Male     No   Sat  Dinner     2     high tip
233       10.77  1.47    Male     No   Sat  Dinner     2      low tip
234       15.53  3.00    Male    Yes   Sat  Dinner     2      low tip
235       10.07  1.25    Male     No   Sat  Dinner     2      low tip
236       12.60  1.00    Male    Yes   Sat  Dinner     2      low tip
237       32.83  1.17    Male    Yes   Sat  Dinner     2      low tip
238       35.83  4.67  Female     No   Sat  Dinner     3     high tip
239       29.03  5.92    Male     No   Sat  Dinner     3     high tip
240       27.18  2.00  Female    Yes   Sat  Dinner     2      low tip
241       22.67  2.00    Male    Yes   Sat  Dinner     2      low tip
242       17.82  1.75    Male     No   Sat  Dinner     2      low tip
243       18.78  3.00  Female     No  Thur  Dinner     2      low tip

[244 rows x 8 columns]
     total_bill   tip     sex smoker   day    time  size tip_category  \
0         16.99  1.01  Female     No   Sun  Dinner     2      low tip
1         10.34  1.66    Male     No   Sun  Dinner     3      low tip
2         21.01  3.50    Male     No   Sun  Dinner     3     high tip
3         23.68  3.31    Male     No   Sun  Dinner     2     high tip
4         24.59  3.61  Female     No   Sun  Dinner     4     high tip
5         25.29  4.71    Male     No   Sun  Dinner     4     high tip
6          8.77  2.00    Male     No   Sun  Dinner     2      low tip
7         26.88  3.12    Male     No   Sun  Dinner     4     high tip
8         15.04  1.96    Male     No   Sun  Dinner     2      low tip
9         14.78  3.23    Male     No   Sun  Dinner     2     high tip
10        10.27  1.71    Male     No   Sun  Dinner     2      low tip
11        35.26  5.00  Female     No   Sun  Dinner     4     high tip
12        15.42  1.57    Male     No   Sun  Dinner     2      low tip
13        18.43  3.00    Male     No   Sun  Dinner     4      low tip
14        14.83  3.02  Female     No   Sun  Dinner     2     high tip
15        21.58  3.92    Male     No   Sun  Dinner     2     high tip
16        10.33  1.67  Female     No   Sun  Dinner     3      low tip
17        16.29  3.71    Male     No   Sun  Dinner     3     high tip
18        16.97  3.50  Female     No   Sun  Dinner     3     high tip
19        20.65  3.35    Male     No   Sat  Dinner     3     high tip
20        17.92  4.08    Male     No   Sat  Dinner     2     high tip
21        20.29  2.75  Female     No   Sat  Dinner     2      low tip
22        15.77  2.23  Female     No   Sat  Dinner     2      low tip
23        39.42  7.58    Male     No   Sat  Dinner     4     high tip
24        19.82  3.18    Male     No   Sat  Dinner     2     high tip
25        17.81  2.34    Male     No   Sat  Dinner     4      low tip
26        13.37  2.00    Male     No   Sat  Dinner     2      low tip
27        12.69  2.00    Male     No   Sat  Dinner     2      low tip
28        21.70  4.30    Male     No   Sat  Dinner     2     high tip
29        19.65  3.00  Female     No   Sat  Dinner     2      low tip
..          ...   ...     ...    ...   ...     ...   ...          ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3     high tip
215       12.90  1.10  Female    Yes   Sat  Dinner     2      low tip
216       28.15  3.00    Male    Yes   Sat  Dinner     5      low tip
217       11.59  1.50    Male    Yes   Sat  Dinner     2      low tip
218        7.74  1.44    Male    Yes   Sat  Dinner     2      low tip
219       30.14  3.09  Female    Yes   Sat  Dinner     4     high tip
220       12.16  2.20    Male    Yes   Fri   Lunch     2      low tip
221       13.42  3.48  Female    Yes   Fri   Lunch     2     high tip
222        8.58  1.92    Male    Yes   Fri   Lunch     1      low tip
223       15.98  3.00  Female     No   Fri   Lunch     3      low tip
224       13.42  1.58    Male    Yes   Fri   Lunch     2      low tip
225       16.27  2.50  Female    Yes   Fri   Lunch     2      low tip
226       10.09  2.00  Female    Yes   Fri   Lunch     2      low tip
227       20.45  3.00    Male     No   Sat  Dinner     4      low tip
228       13.28  2.72    Male     No   Sat  Dinner     2      low tip
229       22.12  2.88  Female    Yes   Sat  Dinner     2      low tip
230       24.01  2.00    Male    Yes   Sat  Dinner     4      low tip
231       15.69  3.00    Male    Yes   Sat  Dinner     3      low tip
232       11.61  3.39    Male     No   Sat  Dinner     2     high tip
233       10.77  1.47    Male     No   Sat  Dinner     2      low tip
234       15.53  3.00    Male    Yes   Sat  Dinner     2      low tip
235       10.07  1.25    Male     No   Sat  Dinner     2      low tip
236       12.60  1.00    Male    Yes   Sat  Dinner     2      low tip
237       32.83  1.17    Male    Yes   Sat  Dinner     2      low tip
238       35.83  4.67  Female     No   Sat  Dinner     3     high tip
239       29.03  5.92    Male     No   Sat  Dinner     3     high tip
240       27.18  2.00  Female    Yes   Sat  Dinner     2      low tip
241       22.67  2.00    Male    Yes   Sat  Dinner     2      low tip
242       17.82  1.75    Male     No   Sat  Dinner     2      low tip
243       18.78  3.00  Female     No  Thur  Dinner     2      low tip

    customer_category
0           poor girl
1                None
2                None
3                None
4           rich girl
5                None
6                None
7                None
8                None
9                None
10               None
11          rich girl
12               None
13               None
14          poor girl
15               None
16          poor girl
17               None
18          poor girl
19               None
20               None
21          rich girl
22          poor girl
23               None
24               None
25               None
26               None
27               None
28               None
29          poor girl
..                ...
214         rich girl
215         poor girl
216              None
217              None
218              None
219         rich girl
220              None
221         poor girl
222              None
223         poor girl
224              None
225         poor girl
226         poor girl
227              None
228              None
229         rich girl
230              None
231              None
232              None
233              None
234              None
235              None
236              None
237              None
238         rich girl
239              None
240         rich girl
241              None
242              None
243         poor girl

[244 rows x 9 columns]
87